body {
    font-family: ipag;
}
table.table
{
    width: 100%;
    border-collapse: collapse;
    padding: 0px;
    margin: 0px;
    line-height: 1.6;
}
table.content
{
    width: 100%;
    border-collapse: collapse;
    padding: 0px;
    margin: 0px;
    font-family: Arial;
    font-size: 12px;
    line-height: 1.4;
}

.content th
{
    border: solid 1px #000000;
    text-align: center;
    background-color: #cccccc;
}

.content .row
{
    border-top: solid 1px #000000;
}

.table tr td,
.content tr td{
    border: solid 1px #000000;
    padding: 0 2px;
}
.font-20{
    font-size: 20px;
}
.text_uppercase{
    text-transform: uppercase;
    line-height: 1.4;
}
.text_underline{
    text-decoration: underline;
}
.text-center{
    text-align: center;
}
.mb-25{
    margin-bottom: 25px;
}
