.total-record {
    float: left;
    line-height: 30px;
    margin: 10px 0;
}

.box-numpaging {
    padding: 12px;
}
.box-numpaging .form-control {
    float: left;
    height: 30px;
    padding: 4px 12px;
    width: auto;
}

.box-numpaging > span {
    float: left;
    padding: 5px;
}
ul.ul_error{
    background: #ef3632;
    color: #fff;
    padding: 10px;
}
@media (min-width: 576px){
    .modal-dialog {
        max-width: 700px;
    }
}

#div1, #div2 {
    float: left;
    width: 100%;
    min-height: 500px;
    height: 100%;
    margin: 10px;
    padding: 10px;
    border-left: 2px solid #dee2e6;
    border-top: 2px solid #dee2e6;
    border-bottom: 2px solid #dee2e6;
    overflow-y:scroll
}

.first-td {
    cursor: pointer;
}